*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Popping', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

}


.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #1d4ed8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #1e40af;
}
.card{
    background: linear-gradient(100deg, #5656cd, #d29e3d);
    padding: 50px;
    box-shadow: 2px 2px 5px #121212;
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-top: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;

}

.cityDisplay .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 2rem;
}
.descDisplay{
    font-weight: bold;
    font: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 8rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: #121212;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    gap: 2rem;
}

footer .logo img{
    max-width: 200px;
    margin-bottom: 2rem;
}